$base: hsl(210, 20, 25);
$light: hsl(180, 15, 50);
$lighter: hsl(120, 30, 80);

.container {
    display: grid;
    grid-template-columns: 15fr 20fr;
    grid-template-rows: 10fr 1fr;
    grid-gap: .5rem;
    min-height: 100%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 1rem 0;

    p {
        font-size: 24px;
        border-top: 2px solid $light;
        padding: .5rem;
        padding-top: 1.5rem;
    }
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.next {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .next-button {
        flex: 1;
        transition: .1s;
        width: 3.5rem;
        height: 3.5rem;
        padding: .5rem;
        path {
            fill: $base;
        }
        &:hover {
            cursor: pointer;
            path {
                fill: $light;
            }
        }
    }
}

:global {
    .transition-appear {
        transition: all 1s;
        opacity: .01;
    }

    .transition-appear.transition-appear-active {
        transition: all 1s;
        opacity: 1;
    }

    .transition-enter {
        transition: all 1s;
        opacity: .01;
    }

    .transition-enter.transition-enter-active {
        transition: all 1s;
        opacity: 1;
    }

    .transition-leave {
        transition: all 1s;
        opacity: 1;
    }

    .transition-leave.transition-leave-active {
        transition: all 1s;
        opacity: .01;
    }
}

@media (max-width: 1280px) {
    .container {
        display: flex;
        flex-flow: column nowrap;
    }

    .right {
        order: -1;
        flex: 1;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }

    .left {
        flex: 1;
    }

    .right, .left {
        height: 100%;
    }
}

@media (min-width: 1280px) {
    .left, .right, .next {
        flex: 0;
    }
}
