$base: hsl(210, 20, 25);
$light: hsl(180, 15, 50);
$lighter: hsl(120, 30, 80);

.container {
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;

    background: adjust-hue(desaturate(lighten($lighter, 10), 20), -30);

    position: relative;
    overflow: hidden;
    margin: .5rem;
    width: 15rem;
    height: 15rem;

    h3, p {
        height: 50%;
        z-index: 1;
        position: absolute;
        transition: all .25s;
        color: #fff;
        width: 100%;
        padding: .5rem;
        background: transparentize($base, 0.25);

    }

    h3 {
        top: 0;
        font-size: 2rem;
    }
    p {
        display: flex;
        bottom: 0;
        font-weight: 300;
        align-items: flex-end;
    }

    &:hover {
        .thumbnail-wrapper {
            width: 125%;
            height: 125%;
            top: -12.5%;
            left: -12.5%;
        }
        h3 {
            top: -50%;
        }

        p {
            bottom: -50%;
        }
    }
}

.thumbnail-wrapper {
    transition: all 1s;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
