$base: hsl(210, 20, 25);
$light: hsl(180, 15, 50);
$lighter: hsl(120, 30, 80);

main {
    height: 100%;
    top: 0;
}

:global {
    .fade-enter {
        transition: all .3s;
        opacity: 0;
    }
    .fade-enter.fade-enter-active {
        opacity: 1;
    }
}
