$base: hsl(210, 20, 25);
$light: hsl(180, 15, 50);
$lighter: hsl(120, 30, 80);

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300');
//font-family: 'Yanone Kaffeesatz', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,600,700&subset=latin-ext');
//font-family: 'Rokkitt', serif;
